<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>J!Research Help Site</title>
		<link rel="icon" type="image/png" href="./assets/jresearch_logomini.png" />
		<style type="text/css">
		<!--
			*, html
			{
				margin: 0;
				padding: 0;
			}
			
			body
			{
				font-family: Arial, Verdana, sans-serif;
			}
			
			h1
			{
				margin-bottom: 0.5em;
			}
			
			h1 span
			{
				display:none;
			}
			
			h2, h3
			{
				margin-bottom: 0.25em;
			}
			
			ol
			{
				margin-left: 2em;
				margin-bottom: 2em;
			}
			
			ol ol
			{
				margin-bottom: 1em;
			}
			
			ol p
			{
				font-size: 14px;
				font-weight: normal;
				/*text-indent: 2em;*/
				margin-bottom: 1em;
			}
			
			ol#content
			{
				font-size: 1.45em;
				font-weight: bold;
			}
			
			ol#content li ol
			{
				font-size: 0.8em;
				font-weight: bold;
			}
		-->
		</style>
	</head>
	<body>
		<h1>
			<img src="./assets/jresearch_logo.png" alt="J!Research Logo" /><span>J!Research Help</span>
		</h1>
		<p>
		This is a help page for the Joomla component <strong>J!Research</strong>.
		</p>
		
		<div style="position: fixed; right: 0; top: 0;"><a href="#top">Top</a></div>
		
		<h2><a name="top" />Index</h2>
		<ol id="index" style="margin-bottom: 50px;">
			<li><a href="#cooperations">Cooperations</a></li>
			<li><a href="#facilities">Facilities</a></li>
			<li><a href="#financiers">Financiers</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#publications">Publications</a></li>
			<li><a href="#researchareas">Researchareas</a></li>
			<li><a href="#staff">Staff</a></li>
			<li><a href="#teams">Teams</a></li>
			<li><a href="#theses">Theses</a></li>
			<li><a href="#authorization">Authorization</a></li>
		</ol>
		
		<ol id="content">
			<li>
				<h2>
					<a name="cooperations" />
					Cooperations
				</h2>
				<p>
					The cooperations of J!Research shows the cooperation with other companies.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="facilities" />Facilities</h2>
				<p>
					Facilities give the user an overview of the existing facilities and details of each facility which are available.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="financiers" />Financiers</h2>
				<p>
					Financiers fund projects and they can be associated with J!Research projects.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="projects" />Projects</h2>
				<p>
					Finished and started projects can be managed by J!Research. Leader, Members and Financiers can be associated to projects.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="publications" />Publications</h2>
				<p>
					Publications can be articles, books, booklets, conferences, manuals, patents, master or PhD thesis, a technical report or a unpublished publication.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="researchareas" />Researchareas</h2>
				<p>
					Researchareas represents a grouping mechanism for projects, publications, members and theses.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="staff" />Staff</h2>
				<p>
					The staff represents all members of J!Research.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="teams" />Teams</h2>
				<p>
					A team groups members of the staff. This is a mechanism to make possible authorization of users.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="theses" />Theses</h2>
				<p>
					The theses functionality gives the user the possibility to publish their thesis on J!Research.
				</p>
				<ol>
					<li>
						<h3>List of cooperations</h3>
						<p>
							Text
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2><a name="authorization" />Authorization</h2>
				<p>
					This chapter is about the authorization of the user for different functionalities which has been pointed out in the top. Only this functionalities which are listed here have a ACL in J!Research. This list can be updated in future releases of J!Research.
				</p>
				<ol>
					<li>
						<h3>Publications</h3>
						<p>

						</p>
					</li>
				</ol>
			</li>
		</ol>
	</body>
</html>