<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="general" label="JRESEARCH_CONFIG_GENERAL_SECTION">
		<field name="thumbnail_enable" type="radio" default="1" label="JRESEARCH_THUMBNAIL_ENABLE" description="JRESEARCH_THUMBNAIL_ENABLE_DESCRIPTION">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="show_hits" type="radio" default="yes" label="JRESEARCH_SHOW_HITS" description="JRESEARCH_SHOW_HITS_DESCRIPTION">
			<option value="yes">JYES</option>
			<option value="no">JNO</option>
		</field>
		<field name="files_root_path" type="hidden" default="files" />
        </fieldset>
        <fieldset name="publications" label="JRESEARCH_PUBLICATIONS" >
		<field name="citationStyle" type="list" default="APA" label="JRESEARCH_CITATION_STYLE" description="JRESEARCH_CITATION_STYLE_DESCRIPTION">
			<option value="APA">APA</option>
			<option value="IEEE">IEEE</option>
			<option value="MLA">MLA</option>
			<option value="CSE">CSE</option>
			<option value="Chicago">Chicago (Author-Date system)</option>
			<option value="Vancouver">Vancouver</option>
		</field>
		<field name="enable_export_frontend" type="radio" default="yes" label="JRESEARCH_PUBLICATIONS_ENABLE_EXPORT" description="JRESEARCH_PUBLICATIONS_ENABLE_EXPORT_DESCRIPTION">
			<option value="yes">JYES</option>
			<option value="no">JNO</option>
		</field>
		<field name="enable_bibtex_frontend_import" type="radio" default="yes" label="JRESEARCH_CONFIG_ENABLE_BIBTEX_FRONTEND" description="JRESEARCH_CONFIG_ENABLE_BIBTEX_FRONTEND_DESCRIPTION">
			<option value="yes">JYES</option>
			<option value="no">JNO</option>
		</field>
		<field name="make_internal" type="radio" default="no" label="JRESEARCH_CONFIG_MAKE_INTERNAL" description="JRESEARCH_CONFIG_MAKE_INTERNAL_DESCRIPTION">
			<option value="yes">JYES</option>
			<option value="no">JNO</option>
		</field>
		
		<field name="publications_apply_style" type="radio" label="JRESEARCH_PUBLICATIONS_APPLY_STYLE" description="JRESEARCH_PUBLICATIONS_APPLY_STYLE_DESCRIPTION" default="no">
			<option value="yes">JYES</option>
			<option value="no">JNO</option>
		</field>
        </fieldset>
        <fieldset name="researchareas" label="JRESEARCH_RESEARCH_AREAS">
            <field name="area_number_last_publications" label="JRESEARCH_CONFIG_LAST_PUBLICATIONS_IN_AREA" default="5" type="text" />
            <field name="area_number_last_projects" label="JRESEARCH_CONFIG_LAST_PROJECTS_IN_AREA" default="5" type="text" />
            <field name="area_number_last_theses" label="JRESEARCH_CONFIG_LAST_THESES_IN_AREA" default="5" type="text" />
        </fieldset>
        <fieldset name="staff" label="JRESEARCH_STAFF" >
		<field name="staff_list_arrangement" type="list" default="vertical" label="JRESEARCH_CONFIG_STAFF_LIST_ARRANGEMENT" description="JRESEARCH_CONFIG_STAFF_LIST_ARRANGEMENT_DESCRIPTION">
			<option value="vertical">JRESEARCH_VERTICAL</option>
			<option value="horizontal">JRESEARCH_HORIZONTAL</option>
		</field>
		<field name="staff_format" type="list" default="last_first" label="JRESEARCH_CONFIG_STAFF_FORMAT" description="JRESEARCH_CONFIG_STAFF_FORMAT_DESCRIPTION">
			<option value="last_first">JRESEARCH_LASTNAME_FIRSTNAME</option>
			<option value="first_last">JRESEARCH_FIRSTNAME_LASTNAME</option>			
		</field>
		<field name="member_image_width" default="1024" label="JRESEARCH_MEMBER_IMAGE_WIDTH" type="text" />
		<field name="member_image_height" default="768" label="JRESEARCH_MEMBER_IMAGE_HEIGHT" type="text" />
											
	</fieldset>
</config>